html {
  background-color: #000;
  color: #fff;
}

.header {
  font-weight: bold;
  text-align: center;
  font-size: 25px;
}

.log {
  color: white;
  background-color: #000;
  font-size: small;
  font-family: 'monospace';
}

.logline {
  padding-top: 4px;
}

.logline:hover {
  background-color: red;
  color: white;
}
